//The @mixin directive lets you create CSS code that is to be reused throughout the website.
/*@mixin important-text {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
}

selector {
  @include important-text;
}

*/

