<div class= "login-form mt-5">
    <section>
          <div class=" pt-5">
            <div class="row justify-content-center">
              <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                <div class="row">
                  <div class="col text-center">
                    <h1>Login</h1>
                  </div>
                </div>
                <div class="row align-items-center mt-4">
                  <div class="col">
                    <input type="email" class="form-control login-form" placeholder="Email" [(ngModel)]="payload.email" name="email">
                  </div>
                </div>
                <div class="row align-items-center mt-4">
                  <div class="col text-center">
                    <input type="password" class="form-control login-form" placeholder="Password" [(ngModel)]="payload.password" name="password">
                    <button class="btn btn-primary mt-4 " (click)="login()" >Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
  </div>
  
  
  
  
  
  
  
  
  
  
  
     