.login-form
{

    width: 63%;
    margin: 0 auto;
    .login-form{
        background-color:$light !important;
        color:#000000 !important;
    }
    .login-form:focus{
        border-color: $dark
    }
}