.registration-form
{
    width: 63%;
    .title
    {
        font-size: 30px !important;
        color: $light-gray;
    }
}

@media screen and (max-width: 720px) {
    .registration-form
    {
        width: 100% !important;
    }
  }